DATABASE_URL=postgresql+psycopg://volkodav_app:strongpassword@host.docker.internal:5432/volkodav
JWT_SECRET_KEY=change_me_please
TOTP_SECRET_ENCRYPTION_KEY=change_me_too
TOTP_ISSUER=Харденинг
ALLOWED_ORIGINS=http://localhost:5173,http://localhost,http://192.168.0.147:5173,http://10.8.0.1:5173