@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth UI */
* {
  transition: all 0.15s ease;
}

/* scrollbar как GitHub */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}